* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  min-width: 600px;
  min-height: 600px;
}

.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}
.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}
.top_section h4 {
  font-size: 30px;
  text-align: end;
}

.image_container {
  border-radius: 50%;
  overflow: hidden;
}

.image_container,
img {
  border-radius: 20px;
  width: 550px;
  height: 350px;
  transition: width 1s, height 1s;
}

img:hover{
  width: 600px;
 height: 400px;
}

.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}
.biography_section {
  margin: 50px 0;
}
.biography_section h3 {
  margin-bottom: 20px;
}
.biography_section ul {
  margin-left: 50px;
}
.biography_section li {
  margin-bottom: 15px;
}
footer {
  margin: 50px 0;
}
footer p {
  text-align: end;
}
.navbar{
  background-color: darkblue;
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li a:hover{
  color: gold;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
footer u:hover{
  color: white;
  background-color: darkgreen;
}